{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'scoring/index.css' %}">
    <div id="content">
        <form method="post">
            {% csrf_token %}
            <div class="review_form">
                {{ form.as_p }}
                <button type="submit" class="button">Отправить</button>
            </div>
        </form>
        <div>
            <p>Предполагаемый рейтинг: {{ score }}</p>
            <p>Предполагаемый статус: {{ status }}</p>
        </div>
    </div>
{% endblock %}