body {
    font: normal 18px 'Roboto', sans-serif;
    margin: 0;    
}


h1 {
    font-size: 30px;
}

header { 
    padding: 1px;
    padding-left: 20px;
    background: lightblue;
    font-size: 18px;
   }


